/*
 * Bootstrap
 *******************************************************/
@import "core-bootstrap";

/*
 * Plugins
 *******************************************************/
@import "plugins/fontawesome";

/*
 * Global styling
 *******************************************************/
@import "global";

/*
 * Utils
 *******************************************************/
@import "utils/block-center";

/*
 * Bootstrap addons
 *******************************************************/
@import "bootstrap/card";
@import "bootstrap/modal";
@import "bootstrap/button";
@import "bootstrap/navbar";

/*
 * Components
 *******************************************************/
@import "components/logo";
@import "components/digit-circle";