$brand-primary:             #F47A1F !default;
$brand-success:             #3D9E47 !default;
$brand-info:                #8AB8CB !default;
$brand-warning:             #FAB013 !default;
$brand-danger:              #C2492D !default;
$brand-inverse:             #1A2732 !default;

$btn-secondary-color:       #fff !default;
$btn-secondary-bg:          $brand-inverse !default;
$btn-secondary-border:      $btn-secondary-bg !default;

$logo-width: 0 !default;
$logo-height: 0 !default;
$logo-dark: none !default;
$logo-white: none !default;