$global-bg:                 white !default;

$brand-primary:             #F47A1F !default;
$brand-success:             #3D9E47 !default;
$brand-info:                #8AB8CB !default;
$brand-warning:             #FAB013 !default;
$brand-danger:              #C2492D !default;
$brand-inverse:             #1A2732 !default;

$btn-secondary-color:       #fff !default;
$btn-secondary-bg:          $brand-inverse !default;
$btn-secondary-border:      $btn-secondary-bg !default;

$sidebar-width:             240px;

$font-size-html: 14px;

$font-size-base: 1rem !default; // Assumes the browser default, typically `16px`
$font-size-lg:   1.25rem !default;
$font-size-sm:   .875rem !default;
$font-size-xs:   .75rem !default;

$font-size-h1: 2.5rem !default;
$font-size-h2: 2rem !default;
$font-size-h3: 1.75rem !default;
$font-size-h4: 1.5rem !default;
$font-size-h5: 1.25rem !default;
$font-size-h6: 1rem !default;

$logo-width: 0 !default;
$logo-height: 0 !default;
$logo-dark: none !default;
$logo-white: none !default;