$brand-primary:             #14adcc;
$brand-success:             #8bbf56;
$brand-info:                #8AB8CB;
$brand-warning:             #FAB013;
$brand-danger:              #C2492D;
$brand-inverse:             #ffcf40;

$btn-secondary-color:       #161616;
$btn-secondary-bg:          $brand-inverse;
$btn-secondary-border:      $btn-secondary-bg;

@import "defaults";
@import "../suitcase";