{{ Main navbar }}

<nav class="navbar navbar-inverse bg-inverse">
    <div class="container">
        <span class="navbar-brand">
            <i class="logo logo-white logo-sm"></i>
        </span>
        <span class="navbar-text">
            Navbar text with an inline element
        </span>
    </div>
</nav>