{{ Regular }}

<i class="logo logo-dark"></i>

{{ White variant }}

<div class="sc-dark-bg">
    <i class="logo logo-white"></i>
</div>

{{ Sizing options}}

<i class="logo logo-dark logo-sm"></i>
<i class="logo logo-dark"></i>
<i class="logo logo-dark logo-lg"></i>