.digit-circle {
    $digit-circle-sizing: 1.1em;

    display: inline-block;
    background: $body-color;
    color: #fff;
    font-size: $digit-circle-sizing * 0.7;
    height: $digit-circle-sizing;
    width: $digit-circle-sizing;
    border-radius: 50%;
    line-height: $digit-circle-sizing;
    vertical-align: 7%;
    text-align: center;

    &.digit-circle-primary { background: $brand-primary; }
    &.digit-circle-secondary { background: $brand-inverse; }
    &.digit-circle-success { background: $brand-success; }
    &.digit-circle-info { background: $brand-info; }
    &.digit-circle-warning { background: $brand-warning; }
    &.digit-circle-danger { background: $brand-danger; }
}