$sidebar-transition-duration: 250ms;

.sidebar {
    width: 240px;
    height: 100%;
    background: $white;

    ul {
        list-style: none;
        padding: 0;
    }

    li.card {
        border: none;
        border-radius: 0;
    }

    a {
        display: block;
        text-decoration: none;
        color: $body-color;
        transition: background $sidebar-transition-duration;

        &.active {
            color: $white;
            background-color: $brand-primary !important;
        }

        &:not(.active):hover {
            background: darken($global-bg, 5%);
        }
    }

    .sidebar-group-primary > li {
        > a {
            font-size: 1.2rem;
            height: 4rem;
            line-height: 4rem;
            padding-left: 1.2rem;
            position: relative;

            &:after {
                display: inline-block;
                font-family: FontAwesome;
                content: '\f053';
                transition: transform $sidebar-transition-duration;
                font-size: 0.7rem;
                position: absolute;
                right: 1rem;
            }

            &:not(.collapsed):after {
                transform: rotate(-90deg);
            }
        }

        .sidebar-group-secondary {
            border-left: 5px solid $brand-primary;

            > li > a {
                font-size: 1.1rem;
                height: 2.5rem;
                line-height: 2.5rem;
                padding-left: 0.9rem;
                position: relative;

                &:after {
                    display: inline-block;
                    font-family: FontAwesome;
                    content: '\f053';
                    transition: transform $sidebar-transition-duration;
                    font-size: 0.5rem;
                    position: absolute;
                    right: 1rem;
                }

                &:not(.collapsed):after {
                    transform: rotate(-90deg);
                }
            }

            .sidebar-group-items {
                border-left: none;
            }
        }

        .sidebar-group-items {
            border-left: 0.3rem solid $brand-primary;

            a {
                text-align: right;
                padding-right: 1rem;
                font-size: 1rem;
                height: 2.3rem;
                line-height: 2.3rem;
                padding-right: 1rem;
                transition: padding-right $sidebar-transition-duration;

                &:hover {
                    padding-right: 1.5rem;
                }
            }
        }
    }
}