<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/docs.css">
    <link rel="stylesheet" href="/suitcase.css">

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    <title>INAP's styleguide - suitcase</title>
</head>
<body>
    <nav class="sc-nav">
        <%- partial("_nav") %>
    </nav>
    <section class="sc-content">
        <% subSnippets = yield.match(/\{\{[^\{]+/g) %>
        <% for (var subSnippetIndex in subSnippets) { %>
            <%
                subSnippet = subSnippets[subSnippetIndex];
                code = subSnippet.replace(/\{\{.+\}\}/, '').trim();
                title = subSnippet.match(/\{\{(.+)\}\}/)[1].trim();
            %>

            <h2><%- title %></h2>
            <%- code %>
            <pre><code class="html"><%= code %></code></pre>
            <hr>
        <% } %>
    </section>
</body>
</html>
