body {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    padding-left: 10px;
    padding-right: 10px;
}

.sc-nav {
    flex-grow: 0;
    padding-right: 50px;
    text-transform: capitalize;
    ul {
        list-style: none;
        padding-left: 0;
    }
}

.sc-content {
    flex: 1;

    > pre {
        margin-top: 10px;
    }
}

.sc-code {
    border: 1px solid #161616;
    border-radius: 5px;
}

.sc-footer {
    width: 100vw;

    ul {
        list-style: none;
        padding-left: 0;
    }
}

.sc-dark-bg {
    background-color: black;
    padding: 10px;
}

.sc-white-bg {
    background-color: white;
    padding: 10px;
}